<h1>Articles</h1>
<input
  id="search-box"
  #searchBox
  type="text"
  (input)="this.articlesService.setSearchTerms(searchBox.value)"
/>
<span>{{ selectedIds }}</span>

<ng-container *ngIf="articles$ | async as articles">
  <ul class="articles">
    <ng-container *ngFor="let article of articles">
      <app-article
        [article]="article"
        (clickEvent)="receiveArticle(article.objectID)"
      ></app-article>
    </ng-container>
  </ul>
  <p>
    {{ articles.length }}
  </p>
  <p>
    {{ term }}
  </p>
</ng-container>
